
.dad-clipboard {
    display: flex;
    justify-content: space-evenly;
    
}


/* Column */
.dad-column {
    background-color: #252525;
    border-radius: .5em 0 .5em 0;
}
.dad-column > .title {
    padding: 1em;
    margin: 0;
}
.dad-column > .title.text-danger {
    border-bottom: .05em solid var(--danger);
}
.dad-column > .title.text-info {
    border-bottom: .05em solid var(--info);
}
.dad-column > .title.text-warning {
    border-bottom: .05em solid var(--warning);
}
.dad-column > .title.text-success {
    border-bottom: .05em solid var(--success);
}





/* Dropzone */
.dad-column > .dad-dropzone {
    padding: 1em;
}
.dad-column > .dad-dropzone,
.dad-column > .dad-dropzone > .dad-card {
    transition: .1s;
}





/* Card */
.dad-column > .dad-dropzone > .dad-card {
    background-color: #353535;
    padding: 1em;
    border-radius: .5em 0 .5em 0;
    margin-bottom: 1em;
}
.dad-column > .dad-dropzone > .dad-card.is-dragging {
    opacity: .5;
}
.dad-column > .dad-dropzone > .dad-card:hover {
    cursor: move;
}





/* Status */
.dad-column > .dad-dropzone > .dad-card > .dad-status {
    width: 15%;
    height: .15em;
    border-radius: 1em;
    margin-bottom: .2em;
    background-color: red;
}
.dad-column > .dad-dropzone.to-do > .dad-card > .dad-status {
    background-color: var(--danger);
}
.dad-column > .dad-dropzone.in-progress > .dad-card > .dad-status {
    background-color: var(--info);
}
.dad-column > .dad-dropzone.in-test > .dad-card > .dad-status {
    background-color: var(--warning);
}
.dad-column > .dad-dropzone.finished > .dad-card > .dad-status {
    background-color: var(--success);
}





/* Board  */
.dad-column > .dad-dropzone.highlight{
    background-color: #3d3d3d31;
}
.dad-column > .dad-dropzone.element-highlight-insert {
    background-color: #33ff005e;
}