<main class="container-fluid">
  <section class="row dad-clipboard mt-5">

    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-3">

      <article class="dad-column">
        <h6 class="title text-danger font-weight-bold">A Fazer</h6>
        <aside class="dad-dropzone py-5 to-do">
          <div id="orcamento" class="dad-card" draggable="true">
            <div class="dad-status"></div>
            <div class="dad-content">
              <small>Orçamento Bruno</small>
            </div>
          </div>
        </aside>
      </article>

    </div>


    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-3">

      <article class="dad-column">
        <h6 class="title text-info font-weight-bold">Em Progresso</h6>
        <aside class="dad-dropzone py-5 in-progress">

          <div id="estudar" class="dad-card" draggable="true">
            <div class="dad-status"></div>
            <div class="dad-content">
              <small>Estudar Drag and Drop</small>
            </div>
          </div>
          
        </aside>
      </article>

    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-3">

      <article class="dad-column">
        <h6 class="title text-warning font-weight-bold">Em Teste</h6>
        <aside class="dad-dropzone py-5 in-test">
          <div id="formulario" class="dad-card" draggable="true">
            <div class="dad-status"></div>
            <div class="dad-content">
              <small>Formulário de Parametrização</small>
            </div>
          </div>
        </aside>
      </article>

    </div>

    <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3 p-3">

      <article class="dad-column">
        <h6 class="title text-success font-weight-bold">Finalizado</h6>
        <aside class="dad-dropzone py-5 finished">
          <div id="pagina" class="dad-card" draggable="true">
            <div class="dad-status"></div>
            <div class="dad-content">
              <small>Página de Consulta</small>
            </div>
          </div>
        </aside>
      </article>
      
    </div>
    
  </section>
</main>