@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap');

* {
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #1c1c1c;
    color: white;
}